section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 30%;
    height: auto;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.box img {
    max-width: 95%;
    height: 85%;
}

h1 {
    font-family:Cambria;color:rgb(7, 7, 7);
    text-align: center;
    text-decoration: underline;
}

body{
    background-color:cornsilk;
}